*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.left-side {
  flex: 1;
  padding: 2rem;
  text-align: center;
}


.right-side {
  margin-right: 10%;
  flex: 1;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.right-side h1 {
  margin-bottom: 1rem;
  color: #333;
}

.right-side p {
  margin-bottom: 2rem;
  color: #666;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #666;
}

input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.login-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 1rem;
}

.links {
  margin-top: 2rem;
}

.links a {
  margin-right: 1rem;
  color: #007bff;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

